In [ ]:
import sqlite3
import pandas as pd

#Connect to the SQLite database
#Creating a new SQLite database called 'Movies'
conn = sqlite3.connect('Movies.db')

c = conn.cursor()

print("Database created and Successfully Connected to SQLite !")
print("----------------------------------------------------------------------")


#Creating a new table (Movies)
c.execute("""CREATE TABLE Movies (
            MOVIE text,
            ACTOR text,
            ACTRESS text,
            YEAR_OF_RELEASE integer,
            DIRECTOR text
            )""")


#Inserting data into Movies table
c.execute("INSERT INTO Movies VALUES ('Don 2', 'Shah rukh khan', 'Priyanka chopra', 2011, 'Farhan akhtar')")
c.execute("INSERT INTO Movies VALUES ('Happy new year', 'Shah rukh khan', 'Deepika Padukone', 2014, 'Farah khan')")
c.execute("INSERT INTO Movies VALUES ('Kalki', 'Tovino thomas', 'Samyuktha memon', 2019, 'Praveen')")
c.execute("INSERT INTO Movies VALUES ('Chanakya', 'Gopi chand', 'Mehreen kaur pirzada', 2019, 'Thiru')")
c.execute("INSERT INTO Movies VALUES ('Theri', 'Vijay kumar', 'Samantha ruth prabhu', 2016, 'Atlee kumar')")
c.execute("INSERT INTO Movies VALUES ('Quantico', 'Jake', 'Priyanka chopra', 2015, 'Cherin debis')")
c.execute("INSERT INTO Movies VALUES ('Super 30', 'Hrithik roshan', 'Mrunal thakur', 2019, 'Vikas bahl')")


          
          
print('\nCOLUMNS IN MOVIE TABLE : \n')
data=c.execute('''SELECT * FROM Movies''')
for column in data.description:
    print(column[0])
print("----------------------------------------------------------------------")    


#querying all rows from the Movies table
print('\nROWS IN MOVIE TABLE : \n')
c.execute('''SELECT * from Movies''')
rows = c.fetchall()
for row in rows:
    print(row)
print("----------------------------------------------------------------------")


#selecting movies based on the actor's name.
print('\nMOVIES BASED ON THE ACTOR "Shah rukh khan" : \n')
c.execute(''' SELECT MOVIE FROM Movies WHERE ACTOR = 'Shah rukh khan' ''')
df = pd.DataFrame(c.fetchall(), columns=['MOVIE'])
print (df)
print("----------------------------------------------------------------------")

#selecting movies based on the actoress name.
print('\nMOVIES BASED ON THE ACTRESS "Priyanka chopra" : \n')
c.execute(''' SELECT MOVIE FROM Movies WHERE ACTRESS = 'Priyanka chopra' ''')
df = pd.DataFrame(c.fetchall(), columns=['MOVIE'])
print (df)
print("----------------------------------------------------------------------")


print('\nList of MOVIES released after the year "2014 : "\n')
c.execute(''' SELECT MOVIE,
              YEAR_OF_RELEASE
              FROM Movies
              WHERE YEAR_OF_RELEASE > 2014\n 
          ''')
df = pd.DataFrame(c.fetchall(), columns=['MOVIE','YEAR_OF_RELEASE'])
print (df)

conn.commit()

conn.close()

Database created and Successfully Connected to SQLite !
----------------------------------------------------------------------

COLUMNS IN MOVIE TABLE :

MOVIE
ACTOR
ACTRESS
YEAR_OF_RELEASE
DIRECTOR
----------------------------------------------------------------------

ROWS IN MOVIE TABLE :

('Don 2', 'Shah rukh khan', 'Priyanka chopra', 2011, 'Farhan akhtar')
('Happy new year', 'Shah rukh khan', 'Deepika Padukone', 2014, 'Farah khan')
('Kalki', 'Tovino thomas', 'Samyuktha memon', 2019, 'Praveen')
('Chanakya', 'Gopi chand', 'Mehreen kaur pirzada', 2019, 'Thiru')
('Theri', 'Vijay kumar', 'Samantha ruth prabhu', 2016, 'Atlee kumar')
('Quantico', 'Jake', 'Priyanka chopra', 2015, 'Cherin debis')
('Super 30', 'Hrithik roshan', 'Mrunal thakur', 2019, 'Vikas bahl')
----------------------------------------------------------------------

MOVIES BASED ON THE ACTOR "Shah rukh khan" :

            MOVIE
0           Don 2
1  Happy new year
----------------------------------------------------------------------

MOVIES BASED ON THE ACTRESS "Priyanka chopra" :

      MOVIE
0     Don 2
1  Quantico
----------------------------------------------------------------------

List of MOVIES released after the year "2014 : "

      MOVIE  YEAR_OF_RELEASE
0     Kalki             2019
1  Chanakya             2019
2     Theri             2016
3  Quantico             2015
4  Super 30             2019